*{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(52,152,219);
    background: linear-gradient(183deg, rgba(52,152,219,1) 0%, rgba(0,70,139,1) 100%);
}

h1 {
    text-align: center;
    color: #333;
    display: none;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

.six{
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: .3rem;
    margin-bottom: .5rem;
}

.doble{
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    color: white;
    padding: .3rem;
}

.doble input{
    margin: 0;
    margin-bottom: .3rem;
}

.doble label{
    margin: 0;
}

#Andesmar-img {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-shrink: 1;
    margin-bottom: 20px;
    margin-top: 25px;
}

#Andesmar{
    max-width: 400px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

button {
    background-color: cornflowerblue;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(11, 72, 185);
}

.spinner-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.spinner {
    border: 8px solid cornflowerblue;
    border-radius: 50%;
    border-top: 8px solid #ffffff;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#calleRemitente, #calleNroRemitente, #codigoPostalRemitente, #m3, #esRemitoConformado, #esFletePagoDestino{
    display: none;
}

#codigoPostalRemitente{
    display: block;
}

.origenEnvio{
    background-color: cornflowerblue;
    padding: .5rem;
    border-radius: 10px;
    margin-bottom: 5px;
}

.contenedorRespuesta{
    margin-top: 1rem;
    background-color: #e1f4e5;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.contenedorRespuesta img{
    width: 200px;
}

.contenedorRespuesta h2{
    font-family: "Signika Negative", sans-serif;
    color: #32d554;
    margin-top: 0;
    padding-top: 1rem;
    font-size: 2rem;
}

.botonDescarga{
    font-family: "Signika Negative", sans-serif;
    font-weight: 800;
    margin-bottom: 1rem;
    font-size: 2rem;
    background-color: #32d554;
    color: white;
    border-radius: 15px;
    padding: 1rem;
}

.contenedorError{
    margin-top: 1rem;
    background-color: #52c6b8;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.contenedorError p{
    font-family: "Signika Negative", sans-serif;
    color: white;
    margin: 0;
}

.contenedorError img{
    width: 200px;
}

.mensajeErrorUndefinedContainer{
    margin-top: 1rem;
    background-color: red;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.mensajeErrorUndefinedContainer p{
    color: white;
    font-size: 2rem;
    font-weight: 600px;
}

#ultimasEtiquetas{
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
    border-radius: 0 0 10px 10px;
}

.ultimasEtiquetasTitulo{
    font-family: "Signika Negative", sans-serif;
    background-color: #333;
    padding: .5rem;
    margin: 0;
    margin-top: .5rem;
    color: white;
}

.reDescarga{
    font-family: "Signika Negative", sans-serif;
    font-weight: 400px;
    gap: .2rem;
    display: flex;
    background-color: #333;
    margin: .3rem;
    margin-top: 0;
    text-align: center;
    justify-content: baseline;
    text-align: center;
}

.reDescarga img {
    width: 20px;
    filter: invert(100%);
}

#ultimasEtiquetas button:last-child {
    color: white;
    font-weight: 800;
}

#ultimasEtiquetas button:last-child {
    text-align: center;
    align-items: center;
    filter: invert(0%);
    border: 2px dashed red;
}

#ultimasEtiquetas button:last-child::before {
    text-align: center;
    content: "última";
    position: relative;
    top: 0;
    left: -2px;
    background-color: red;
    color: white;
    padding: 4px 8px;
    border-radius: 10px;
    font-size: 12px;
    z-index: 1000;
}

#respuesta2{
    display: none;
    background-color: #32d554;
    padding: .5rem;
    border-radius: 12px;
    color: white;
    font-weight: 600;
    margin-top: 0;
}

#respuestaNegativa{
    display: none;
    background-color: red;
    padding: .5rem;
    border-radius: 12px;
    color: white;
    font-weight: 600;
    margin-top: 0;
}

.nuevo{
    color: white;
}

.removeBultoButton{
    background-color: red;
}

.removeBultoButton:hover{
    background-color: rgb(43, 43, 43);
}

#volumenVisual{
    background-color: #32d554;
    color: white;
    width: max-content;
    border-radius: 10px;
    padding: 1rem;
    margin: .5rem;
    margin-left: 0;
}

#bultos{
    background-color: #bebebe;
}

.bulto {
    border: 2px dashed red;
    padding: 10px;
    margin: 10px 0;
    background-color: rgb(246, 190, 190);
    border-radius: 10px;
}

.bultoImput, .bultoDescripccion{
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}

.bultoTitle{
    background-color: red;
    color: white;
    width: max-content;
    padding: .4rem;
    border-radius: 10px;
    margin-top: 0;
}

#mensajePersonalizado{
    display: none;
}

#observaciones{
    text-transform: lowercase;
    height: 6rem;
    border: dashed 2px red;
    background-color: rgb(253, 242, 240);
    border-radius: 10px;
}
