*{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Modica Oft';
    src: url('./fonts/modica.otf'),
}

*::selection {
    color: #fce96b;
    background-color: #0065C3;
  }

body {
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(52,152,219);
    background: linear-gradient(183deg, rgba(52,152,219,1) 0%, rgba(0,70,139,1) 100%);
}

h1 {
    text-align: center;
    color: #333;
    display: none;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

@media (max-width: 600px) {
    form {
        border-top-left-radius: 0; 
        border-top-right-radius: 0; 
    }
}

.six{
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: .3rem;
    margin-bottom: .5rem;
}

.badge-large {
    font-size: 1rem;
    top: -10px !important;
    min-width: 25px !important;
    z-index: 1000 !important;
}

.CpyLocalidad, .PisoyDepto{
    padding: .5rem;
    border: dashed 2px cornflowerblue;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-bottom: .3rem;
    gap: 10px;
}

.cp, .localidad{
    flex: 1;
}

.piso, .depto{
    width: 20%;
}

.email{
    width: 60%;
}

.Andrean{
    background-color: red;
    color: white;
    font-size: 1rem;
    padding: .3rem;
    border-radius: 5px;
    width: fit-content;
}

#localidad{
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
    border: 1px solid red;
    font-weight: 800;
    height: 38px
}

#codigoPostalDestinatario{
    height: 38px
}

/* Estilos Camiones */
.trucks {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.truck {
    text-align: center;
}
.truck img {
    width: 100%; 
    height: auto;
    border: 2px dashed #ccc; 
    border-radius: 8px;
}
.label {
    margin-top: 5px;
    padding: 5px; 
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2rem;
}

.truck img.envio-verde {
    background-color: #32d554;
    border: 2px dashed green;
    box-shadow: 0 0px 5px #515151a5; 
}


.truck img.desactivado {
    filter: grayscale(100%) brightness(70%);
}

@keyframes titilar {
    0% { background-color: rgb(129, 0, 0); }
    50% { background-color: orangered; } 
    100% { background-color: rgb(129, 0, 0); } 
}

.truck .label.titilando {
    color: white;
    animation: titilar 1s infinite;
    border: none;
    box-shadow: 0 0px 5px #515151a5; 
}

/* Fin Estilos Camiones */

.lista-localidades {
    width: 47.5%;
    border: 1px solid grey;
    font-size: small;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1000;
    border-radius: 0 0 10px 10px;
}
.lista-localidades div {
    padding: 5px;
    cursor: pointer;
}
.lista-localidades div:hover {
    background-color: red;
    color: white;
}

.spinner2 {
    display: none;
    border: 4px solid rgba(247, 171, 171, 0.881);
    border-top: 4px solid #440000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    position: absolute;
    right: 16px;
    top: 30%;
    transform: translateY(-50%);
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.clear-button {
    background-color: white;
    padding: .2rem;
    border-radius: 10px;
    display: none;
    cursor: pointer;
    position: absolute;
    right: 16px; /* Posición de la "X" dentro del input */
    top: 50%;
    transform: translateY(-50%);
    color: #440000;
    font-size: 18px;
}
input {
    padding-right: 30px; /* Espacio para la "X" */
}

.doble{
    text-align: justify;
    display: flex;
    gap: .5rem;
    color: white;
    padding: .3rem;
}

.doble input{
    margin: 0;
    margin-bottom: .3rem;
}

.doble label{
    margin: 0;
}

#Andesmar-img {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-shrink: 1;
    margin-bottom: 20px;
    margin-top: 25px;
}

#Andesmar{
    max-width: 400px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

button {
    background-color: cornflowerblue;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(11, 72, 185);
}

.spinner-container {
    display: none; /* Cambiar a 'flex' cuando se muestre el spinner */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff50; /* Fondo semi-transparente */
    backdrop-filter: blur(8px); /* Efecto de desenfoque */
    z-index: 9999;
    justify-content: center; /* Centrar el contenido horizontalmente */
    align-items: center; /* Centrar el contenido verticalmente */
}

.spinner {
    border: 8px solid cornflowerblue;
    border-radius: 50%;
    border-top: 8px solid #ffffff;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#calleRemitente, #calleNroRemitente, #codigoPostalRemitente, #m3, #esRemitoConformado, #esFletePagoDestino{
    display: none;
}

#codigoPostalRemitente{
    display: block;
}

.origenEnvio{
    background-color: cornflowerblue;
    padding: .5rem;
    border-radius: 10px;
    margin-bottom: 5px;
}

/* RESPUESTA ANDESMAR (SIN USO) */

.contenedorRespuesta{
    margin-top: 1rem;
    background-color: #e1f4e5;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.contenedorRespuesta img{
    width: 200px;
}

.contenedorRespuesta h2{
    font-family: "Signika Negative", sans-serif;
    color: #32d554;
    margin-top: 0;
    padding-top: 1rem;
    font-size: 2rem;
}

.botonDescarga{
    font-family: "Signika Negative", sans-serif;
    font-weight: 800;
    margin-bottom: 1rem;
    font-size: 2rem;
    background-color: #32d554;
    color: white;
    border-radius: 15px;
    padding: 1rem;
}

.contenedorError{
    margin-top: 1rem;
    background-color: #52c6b8;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.contenedorError p{
    font-family: "Signika Negative", sans-serif;
    color: white;
    margin: 0;
}

.contenedorError img{
    width: 200px;
}

.mensajeErrorUndefinedContainer{
    margin-top: 1rem;
    background-color: red;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.mensajeErrorUndefinedContainer p{
    color: white;
    font-size: 2rem;
    font-weight: 600px;
}

/* FIN RESPUESTA ANDESMAR (SIN USO) */

/* ULTIMAS ETIQUETAS CONTENEDOR */
#ultimasEtiquetas{
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
    border-radius: 0 0 10px 10px;
}

.ultimasEtiquetasTitulo{
    font-size: medium;
    font-family: "Signika Negative", sans-serif;
    background-color: #333;
    padding: .5rem;
    margin: 0;
    margin-top: .5rem;
    color: white;
}

.reDescarga{
    text-align: center;
    align-items: center;
    font-family: "Signika Negative", sans-serif;
    font-size: small;
    border-radius: 20px;
    font-weight: 400px;
    gap: .2rem;
    display: flex;
    background-color: #32305b;
    margin: .3rem;
    margin-top: 0;
    text-align: center;
    justify-content: baseline;
}

.reDescarga img {
    width: 20px;
    filter: invert(100%);
}

#ultimasEtiquetas button:last-child {
    color: white;
    font-weight: 800;
}

#ultimasEtiquetas button:last-child {
    text-align: center;
    align-items: center;
    filter: invert(0%);
    border: 2px dashed rgb(255, 255, 255);
    background-color: black;
    border-radius: 20px;
}

#ultimasEtiquetas button:last-child::before {
    text-align: center;
    content: "última";
    position: relative;
    top: 0;
    left: -2px;
    background-color: red;
    color: white;
    padding: 4px 8px;
    border-radius: 10px;
    font-size: 12px;
    z-index: 1000;
}

/* FIN ULTIMAS ETIQUETAS CONTENEDOR */

/* BULTOS */
#respuesta2{
    display: none;
    background-color: cornflowerblue;
    padding: .5rem;
    border-radius: 12px;
    color: white;
    font-weight: 600;
    margin-top: 0;
}

#respuestaNegativa{
    display: none;
    background-color: red;
    padding: .5rem;
    border-radius: 12px;
    color: white;
    font-weight: 600;
    margin-top: 0;
}

.nuevo{
    color: white;
}

.removeBultoButton{
    background-color: red;
}

.removeBultoButton:hover{
    background-color: rgb(43, 43, 43);
}

#bultos{
    background-color: #bebebe;
}

.bulto {
    border: 2px dashed red;
    padding: 10px;
    margin: 10px 0;
    background-color: rgb(246, 190, 190);
    border-radius: 10px;
}

.bultoImput, .bultoDescripccion{
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}

.bultoTitle{
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: red;
    color: white;
    width: max-content;
    padding: .4rem;
    border-radius: 10px;
    margin-top: 0;
}

#mensajePersonalizado{
    display: none;
}

#observaciones{
    text-transform: lowercase;
    height: 6rem;
    border: dashed 2px red;
    background-color: rgb(253, 242, 240);
    border-radius: 10px;
}

#tipoElectrodomestico{
    color: red;
    border: 1px solid red;
    font-weight: 800;
}

.tipoElectrodomesticoBna{
    font-family: "Roboto", sans-serif;
    color: grey;
    border: 1px solid grey;
    border-radius: 4px;
    font-weight: 600;
    margin-bottom: 5px;
}

.mb-2{
    column-gap: .5rem;
}

.mostrarMasButton {
    border-radius: 20px;
    color: white;
    background-color: red;
    margin-left: .3rem;
    padding: 10px;
    margin-bottom: .3rem;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.135); /* Ajusta los valores según tus preferencias */
}

.input-group-text{
    border-radius: 6px 6px 0 0;
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    justify-content: center;
    text-align: center;
}

.input-group-text > i{
    font-size: 1rem;
}

.card-body-medidas{
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid grey;
    border-radius: 10px;
    padding-inline: 1rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
    margin-bottom: 5px;
}

.form-control-medidas{
    color: cornflowerblue;
    border: none;
    margin-bottom: 0;
    border-radius: 0;
}

.bultoImput{
    margin-bottom: 0 !important;
}

.alert-success{
    margin-bottom: 5px;
}

.andesmarBNA{
    margin-top: 2rem !important;
}

/* FIN BULTOS */

/* NAVBAR */

.navbar {
    background-color: #ffffff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 10px #00569892;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
}

.navbar-logo {
    max-height: 50px;
    width: auto;
    margin-right: 10px;
}

.brand-name {
    text-transform: uppercase;
    font-family: 'Modica Oft';
    font-size: 2rem;
    color: grey;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav-item {
    margin: 0 15px;
}

a.nav-link{
    color: #004080 !important;
}

a.nav-link.active{
    color: white !important;
}

.nav-item a {
    color: #004080;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: block;
}

.nav-item a:hover {
    background-color: #e6f0ff;
    color: #1a75ff;
}

.nav-item .active {
    font-weight: 800;
    background-color: #1a75ff;
    color: #ffffff;
}

a.nav-link.active, a.nav-link {
    border-radius: 10px !important;
    transition: .5s;
}

a.nav-link:hover{
    background-color: cornflowerblue !important;
    transform: scale(1.05);
    color: white !important;

}

/* Menu Hamburguesa */

@media (max-width: 940px) {
    .nav-links {
        flex-direction: column;
        width: 100%;
        background-color: #ffffff;
        border-radius: 0px;
        position: absolute;
        top: 70px;
        left: -100%;
        transition: left 0.3s ease-in-out;
    }

    .nav-item a {
        border-radius: 0;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-item {
        margin: 0;
        width: 100%;
        text-align: center;
    }

    button.navbar-toggler:hover{
        background-color: cornflowerblue;
    }

    .menu-toggle {
        display: flex;
    }

    .is-active .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .is-active .bar:nth-child(2) {
        opacity: 0;
    }

    .is-active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}

#meli-logo{
    width: 30px;
    margin-right: 5px;
}

/* FIN NAVBAR */

#deptoDestinatario , #pisolDestinatario, #codigoPostalDestinatario, #emailDestinatario, #localidad{
    margin-bottom: 0;
}

.PisoyDepto{
    border: dashed 2px red;
}

.hidden {
    display: none;
}

/* VOLUMENES */
.volumen-container {
    border: 2px dashed #28a745;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: #e9f7ef;
    transition: transform 0.2s;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.volumen-container:hover {
    transform: scale(1.08);
    cursor: pointer;
}
.volumen-container > img {
    width: 60px;
}
.volumen-label {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#volumenTotalcm, #volumenTotal{
    color: #004701;
    font-size: 1.7rem;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.cubic{
    font-family: "Chakra Petch", sans-serif;
    font-size: 1.3rem;
}

.provincia{
    display: none;
}

/* FIN VOLUMENES */

/* FOOTER */

.logo-novogar{
    width: 100px;
    padding: .5rem;
}

footer{
    padding: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;    
}

footer > a{
    text-decoration: none;
    color: grey;
    transition: .5s;
}

footer > a:hover{
    text-decoration: underline;
    font-weight: 900;
    color: red;
}

.logo-foot{
    width: 120px;
}

.www{
    font-family: 'Modica Oft';
    font-size: larger;
}

/* FIN FOOTER */

/* BOTON DESCARGA */

#descargaAndreani{
    background-color: #fee2e2;
    padding: .5rem;
    border-radius: 15px;
    border: 2px dashed red;
    transition: transform 0.2s;
}

#descargaAndreani:hover {
    transform: scale(1.03);
    cursor: pointer;
}
#descargaAndesmar{
    background-color: rgb(228, 237, 255);
    padding: .5rem;
    border-radius: 15px;
    border: 2px dashed cornflowerblue;
    transition: transform 0.2s;
}

#descargaAndesmar:hover {
    transform: scale(1.03);
    cursor: pointer;
}

#titleAndreani{
    background-color: white;
    border: 2px dashed #fc522c;
    border-radius: 10px;
}

#titleAndesmar{
    background-color: white;
    border: 2px dashed #5a6892;
    border-radius: 10px;
    Color: cornflowerblue;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: .2rem;
    font-weight: 600;
}

#titleAndreani > span{
    color: red;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: .2rem;
    font-weight: 600;
}

#titleAndreaniName, #nombreAndreani, #titleAndesmarName{
    font-size: 1.2rem;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn-danger >i, .btn-primary >i{
    font-size: 1.2rem;
}

#apiResponse .btn-danger {
margin-bottom: -1rem;
}

.error{
    width: 250px;
    padding-bottom: 400px;
}

.errorp{
    color: red;
    font-weight: 900;
    font-size: 1.2rem;
    font-family: "Chakra Petch", sans-serif;
}

.surprise{
    width: 35px;
}

.btn-warning{
    margin: 0!important;
}

@media (max-width: 490px) {
    .btn-warning {
        margin-bottom: 10px !important;
    }
}

/* FIN BOTON DESCARGA */

/* COTIZADOR */

.grid-container {
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 20px;
    background-color: #f7f9fc; /* Fondo más claro */
}

.cotizacion-container {
    border: 2px dashed green;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    background: #ffffff; /* Fondo blanco */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; /* Para la animación */
    overflow: hidden; /* Para ocultar el efecto de animación */
}

.valor-cotizacion {
    color: green; /* Color original */
    font-size: 1.5rem; /* Tamaño más pequeño para el valor */
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    transition: font-size 0.3s ease; /* Suaviza el cambio de tamaño de fuente */
}

.cotizacion-container:hover .valor-cotizacion {
    color: yellow; /* Cambia a dorado al hacer hover en el contenedor */
    font-size: 2rem; /* Tamaño más grande para el valor */
}

.cotizacion-container:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra más intensa al pasar el ratón */
    cursor: pointer;
    background: linear-gradient(135deg, #4caf50, #81c784); /* Degradado de verdes */
}

.cotizacion-label {
    font-weight: 600;
    font-size: 1.2rem; /* Tamaño de fuente más pequeño */
    margin-top: 5px;
    color: #333; /* Color oscuro */
}

.signo-peso {
    position: relative; /* Para centrar la imagen */
    animation: float 3s ease-in-out infinite; /* Animación de flotación */
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

span > img {
    width: 50px; /* Tamaño de la imagen */
}

.titulo-cotizacion {
    grid-column: span 2; 
    background-color: #28a745; 
    color: white; 
    border-radius: 5px; 
    width: fit-content; 
    padding: 0.5rem; 
    margin: 0 auto; 
    text-align: center; 
    font-size: 1rem; 
    font-weight: bold; 
}

/* FIN COTIZADOR */

/* CARDS BUSCADOR */

.card {
    transition: transform 0.2s;
    cursor: pointer;
    margin-bottom: 25px !important;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-family: "Reddit Sans Condensed", sans-serif;
    text-transform: capitalize;
    color: rgb(55, 119, 238);
    font-weight: 400 !important;
    font-size: 1.3rem;
    margin-bottom: 5px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-title-meli {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
    text-transform: capitalize;
    color: rgb(55, 119, 238);
    font-weight: 400 !important;
    font-size: 1.5rem;
    margin-bottom: 5px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

p.card-text{
    margin-bottom: 10px;
}

.cpLocalidad{
    font-family: "Reddit Sans Condensed", sans-serif;
    text-transform: capitalize;
    font-size: .8rem;
    font-weight: 300;
    width: fit-content;
    background-color: orange;
    color: white;
    border-radius: 8px;
    padding: 5px;
}

.cpLocalidadBna{
    font-family: "Reddit Sans Condensed", sans-serif;
    text-transform: capitalize;
    font-size: .8rem;
    font-weight: 400;
    width: fit-content;
    background-color: grey;
    color: white;
    border-radius: 8px;
    padding: 5px;
}

.cpLocalidad-meli {
    padding: 6px 12px !important;
    font-size: 0.85rem;
    font-weight: 600 !important;
    width: fit-content;
    background-color: whitesmoke;
    border: solid 1px #007aff;
    color: #007aff;
    border-radius: 18px;
    margin-bottom: 8px !important;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.correo-meli{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px !important;
    font-size: 0.85rem;
    width: fit-content;
    border-radius: 25px;
    margin-bottom: 8px !important;
    overflow: hidden;
}

.correo-andesmar {
    background-color: #007aff;
    color: white;
    border: solid 1px #007aff;
}

.correo-andreani {
    background-color: #ff3b30;
    color: white;
    border: solid 1px #ff3b30;
}

.meli-box1{
    display: flex;
    gap: 5px;
}

p.card-text:nth-child(3){
    font-family: "Reddit Sans Condensed", sans-serif;
    font-weight: 300;
    margin-bottom: 5px;
}

p.card-text:nth-child(4){
    font-family: "Reddit Sans Condensed", sans-serif;
    font-weight: 300;
    margin-bottom: 5px;
}

p.card-text:nth-child(5){
    font-family: "Reddit Sans Condensed", sans-serif;
    font-weight: 300;
    margin-bottom: 5px;
}

p.card-text:nth-child(6){
    font-family: "Reddit Sans Condensed", sans-serif;
    font-weight: 300;
    margin-bottom: 5px;
}

p.card-text:nth-child(7){
    color: green;
    font-family: "Reddit Sans Condensed", sans-serif;
    font-weight: 400;
    margin-bottom: 0;
}

p.card-text:nth-child(8){
    font-family: "Reddit Sans Condensed", sans-serif;
    font-weight: 300;
    margin-bottom: 5px;
}

p.card-text-bna{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    margin-bottom: 5px;
}

p.card-text-bna2{
    color: green;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    margin-bottom: 5px;
}

p.card-text:nth-child(9){
    font-family: "Reddit Sans Condensed", sans-serif;
    font-weight: 300;
    margin-bottom: 5px;
}

.pago{
    border-radius: 10px;
    border: dashed 2px cornflowerblue;
    padding: .5rem;
}

.facturacion{
    border-radius: 10px;
    border: dashed 2px cornflowerblue;
    padding: .5rem;
}

.facturacion p:nth-child(1){
    color: white;
    font-weight: 800;
    background-color: red;
    width: fit-content;
    border-radius:5px;
    padding: .2rem;
}

.pago p{
    font-family: "Reddit Sans Condensed", sans-serif;
}

.strong-costo{
    font-weight: 900;
    color: green;
    border: dashed 1px green;
    padding: 5px;
    border-radius: 5px;
}

.strong-costo2{
    font-weight: 900;
    color: green;
}

.pago p:nth-child(7){
    color: white;
    font-weight: 800;
    background-color: red;
    width: fit-content;
    border-radius:5px;
    padding: .2rem;
}

.card-text-pago{
    font-family: "Reddit Sans Condensed", sans-serif;
    font-weight: 300;
    margin-bottom: 5px;
}

.card-text-facturacion{
    font-family: "Reddit Sans Condensed", sans-serif;
    font-weight: 300;
    margin-bottom: 5px;
}

.descripcion-div{
    margin-bottom: 8px;
}

.orden{
    font-family: "Roboto", sans-serif;
    font-size: x-large;
    font-weight: 800;
    margin: 0;
}

.contenedorRemito{
    font-family: "Chakra Petch", sans-serif !important;
    margin-bottom: 10px !important;
    text-align: center;
    color: #333; 
    background-color: #ffffff; 
    border: 1px solid #dcdcdc; 
    font-weight: 500 !important;
    padding: 10px 15px; 
    border-radius: 15px;  
}

.remitoCard{
    margin-bottom: 5px !important;
    text-align: center;
    padding: .2rem;
    width: fit-content;
    border-radius: 10px;
    border: dashed #ffc107 2px;
    color: cornflowerblue;
    font-size: 1.3rem;
    font-family: "Reddit Sans Condensed", sans-serif;
    font-weight: 800 !important;
}

.remitoCardMeli {
    text-align: center;
    padding: 0.5rem;
    width: fit-content;
    border-radius: 20px;
    border: solid 1px rgb(145, 182, 250); /* Borde transparente inicialmente */
    color: black; /* Texto en un verde oscuro */
    font-size: 1.4rem;
    font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-weight: 600;
    margin-bottom: 14px !important;
    box-shadow: 0 0px 14px rgba(100, 148, 237, 0.471), inset 0 1px 1px rgba(255, 255, 255, 0.4), inset 0 -1px 1px rgba(0, 0, 0, 0.02);
    transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}

.little-card-meli > p{
    font-family: "Reddit Sans Condensed", sans-serif;
    text-transform: capitalize;
    font-size: .9rem;
    font-weight: 300;
    margin-bottom: .5rem;
}

.collapps-envio-meli{
    margin-bottom: .5rem;
}

.btn-warning{
    margin-bottom: 0 !important;
}

div.card-body > p > i{
    font-size: 1rem;
}

.spinner-border {
    margin: auto;
}

#spinner {
    margin-bottom: 1.5rem;
    color: cornflowerblue;
    display: flex; /* Mostrar el spinner al cargar */
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .card {
        margin: 10px;
    }
}

#cards-container {
    min-height: 100vh;
    background-color: white; /* Fondo negro */
    padding: 20px; /* Espacio interno */
    border-radius: 0 0 8px 8px; /* Bordes redondeados */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra */
    margin-bottom: 30px;
}

#cards-container-meli {
    min-height: 100vh;
    background-color: white; /* Fondo negro */
    padding: 20px; /* Espacio interno */
    border-radius: 0 0 8px 8px; /* Bordes redondeados */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra */
    margin-bottom: 30px;
}

/* Estilo de las tarjetas */
#envios-cards .card {
    background-color: #f5f5f7; /* Fondo de la tarjeta */
    color: rgb(65, 65, 65); 
    margin-bottom: 20px; 
    border: none; 
    border-radius: 8px; 
    box-shadow: 0 0px 10px #00000067; 
    border: dashed 2px cornflowerblue;
}

#envios-cards .card:hover{
    color: rgb(0, 0, 0);
    background-color: #ffe786;
    border: dashed 2px orange;
}

.user-title-meli{
    color: grey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .9rem;
    padding-left: 30px;
    margin-top: -.5rem;
}

#meli-cards .card {
    background: linear-gradient(145deg, #ffffff, #f0f0f5);
    color: #1a1a1a;
    margin-bottom: 24px;
    border: solid 1px #d1d1d6;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#meli-cards .card:hover {
    color: #000000;
    transform: scale(1.05) translateY(-5px); /* Aumenta el tamaño con un efecto de escala */
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
    border: solid 1px #007aff;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Añade transición suave */
}

#meli-cards .card:hover p, h5, h6 {
/* PENDIENTE */
}

.mt-5{
    margin-top: 0 !important;
}

.card-body-meli{
    padding: 1rem 1rem 0 1rem;
}

.card-body > button{
    margin-top: 0px !important;
    height: 38px !important;
}

.form-control-obs{
    margin-bottom: 0px !important;
}

.divObs{
    margin-bottom: 0px !important;
}

.form-label{
    margin-bottom: 5px !important;
}

/* Media query para pantallas medianas (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    #envios-cards .col-md-4 {
        flex: 0 0 50%; /* 2 tarjetas por fila */
        max-width: 50%; /* 2 tarjetas por fila */
    }

    #meli-cards .col-md-4 {
        flex: 0 0 50%; /* 2 tarjetas por fila */
        max-width: 50%; /* 2 tarjetas por fila */
    }
}

/* Media query para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
    #envios-cards .col-md-4 {
        flex: 0 0 100%; /* 1 tarjeta por fila */
        max-width: 100%; /* 1 tarjeta por fila */
    }

    #meli-cards .col-md-4 {
        flex: 0 0 100%; /* 1 tarjeta por fila */
        max-width: 100%; /* 1 tarjeta por fila */
    }
}

/* BUSCADOR */
.search-filter-container {
    background-color: rgb(220, 220, 220);
    padding: 15px;
    padding-bottom: 0;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* ORDENAR MAS ANTIGUO Y NUEVO */
.input-group {
    border: solid 1px rgba(128, 128, 128, 0.475);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.input-group .form-control {
    border: none;
    box-shadow: none;
}

.form-control{
    height: auto !important;
}

.input-group .input-group-append .btn {
    background-color: cornflowerblue;
    border: solid 1px rgba(128, 128, 128, 0.475);
    color: white;
    border: none;
    transition: .5s;
}

.input-group .input-group-append .btn:hover {
    background-color: rgb(66, 130, 249);
}

.custom-select {
    min-width: 130px;
    margin-bottom: 0;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.custom-select:focus {
    border-color: cornflowerblue;
    box-shadow: none;
}

.apiSeguimiento{
    height: fit-content;
    margin-bottom: 5px;
    border: dashed cornflowerblue 2px;
    border-radius: 10px;
    padding: 5px;
}

.apiSeguimiento p > i{
    font-size: 1rem;
}

.apiSeguimiento p {
    font-size: 1rem;
    font-family: "Reddit Sans Condensed", sans-serif;
    font-weight: 400 !important;
}

.apiSeguimiento p:nth-child(3) {
    margin-bottom: -15px;
}

@media (min-width: 768px) {
    .col-md-3 {
        max-width: 100% !important;
    }}

#filter-labels{
    min-width: 170px;
}

#simbel{
    width: 70px;
}

#simbel2{
    width: 70px;
    padding-left: 5px;
}

#bna2 {
    width: 70px;
    padding-left: 5px;
    filter: brightness(0) invert(1);
}

.simbel{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.mercado-btn{
    width: max-content;
    margin-right: 10px;
    background: cornflowerblue;
    border: #0065C3;
}

/* FIN ORDENAR MAS ANTIGUO Y NUEVO */

.em-circle {
    font-family: "Reddit Sans Condensed", sans-serif;
    font-size: 1.1rem;
    position: absolute;
    top: -18px; 
    right: -10px; 
    background-color: #343348; 
    color: white; 
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-weight: bold; 
}

.em-circle-isFraud {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
    font-size: 0.75rem;
    text-transform: uppercase;
    padding: 6px 12px;
    border-radius: 50px;
    position: absolute;
    top: -18px;
    right: 170px;
    background-color: #ff3b30; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.em-circle-isFraud::before {
    content: '\f071'; 
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    margin-right: 3px;
}

.em-circle-isNotFraud{
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
    font-size: 0.75rem;
    text-transform: uppercase;
    padding: 6px 12px;
    border-radius: 50px;
    position: absolute;
    top: -18px;
    right: 170px;
    background-color: #34C759; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.em-circle-isNotFraud::before {
    content: '\f071'; 
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    margin-right: 3px;
}

.em-circle-state {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    position: absolute;
    font-size: 0.75rem;
    top: -18px;
    right: 10px;
    border-radius: 50px;
    padding: 6px 12px;
    background-color: grey;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.em-circle-state::before {
    content: '\f017'; 
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    margin-right: 3px;
}


.em-circle-state-time {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: .9rem;
    padding: 8px 10px;
    border-radius: 5px; 
    position: relative; 
    background-color: #007AFF; 
    margin-bottom: 5px;
    text-transform: uppercase;
    color: white;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.em-circle-state-time-facturado {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: .9rem;
    margin-bottom: 5px;
    padding: 8px 10px; 
    border-radius: 5px; 
    position: relative; 
    background-color: #34C759; 
    text-transform: uppercase;
    color: white;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.em-circle-state2{
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    position: absolute;
    font-size: 0.75rem;
    top: -18px;
    right: 10px;
    border-radius: 50px;
    padding: 6px 12px;
    background-color: grey;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #34C759;
}

.em-circle-state2::before {
    content: '\f00c'; 
    font-family: "Font Awesome 5 Free";  
    font-weight: 900;
    margin-right: 3px;
}

.em-circle-state3{
    font-family: "Reddit Sans Condensed", sans-serif;
    font-weight: 900;
    font-size: .8rem;
    padding-inline: 5px;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    top: -15px; 
    right: 90px;
    background-color: orangered;
    text-transform: uppercase;
    color: white;
    display: flex; 
    align-items: center; 
    justify-content: center;
    height: 30px;
}

.em-circle-state4{
    font-weight: 900;
    font-family: "Reddit Sans Condensed", sans-serif;
    font-size: .8rem;
    padding-inline: 5px;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    top: -15px; 
    right: 90px;
    background-color: green;
    text-transform: uppercase;
    color: white;
    display: flex; 
    align-items: center; 
    justify-content: center;
    height: 30px;
}

.em-circle-state5{
    font-weight: 900;
    font-family: "Reddit Sans Condensed", sans-serif;
    font-size: .8rem;
    padding-inline: 5px;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    top: -15px; 
    left: 10px;
    background-color: cornflowerblue;
    text-transform: uppercase;
    color: white;
    display: flex; 
    align-items: center; 
    justify-content: center;
    height: 30px;
}

.em-state-andesmar{
    font-family: "Reddit Sans Condensed", sans-serif;
    font-size: 1rem;
    padding-inline: 5px;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    top: -18px; 
    right: 10px;
    background-color: cornflowerblue; 
    color: white;
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-weight: bold; 
}

.em-state-simbel{
    font-family: "Reddit Sans Condensed", sans-serif;
    font-size: 1rem;
    padding-inline: 5px;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    top: -18px; 
    right: 10px;
    background-color:#ec0043; 
    color: white;
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-weight: bold; 
}

.em-state-bna{
    font-family: "Reddit Sans Condensed", sans-serif;
    font-size: 1rem;
    height: 30px;
    padding-inline: 5px;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    top: -15px; 
    right: 10px;
    border: solid 1px grey;
    background-color: white;
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-weight: bold; 
    overflow: hidden;
}

.em-state-bna > img{
    width:60px;
}

.em-state-bna2{
    font-family: "Reddit Sans Condensed", sans-serif;
    font-size: 1rem;
    height: 30px;
    padding-inline: 5px;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    top: -15px; 
    right: 10px;
    color: white;
    background-color: indigo;
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-weight: bold; 
    overflow: hidden;
}

.dimensions-info {
    background: linear-gradient(145deg, #ffffff, #f7f7f7);
    border-radius: 12px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #d1d1d6;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1);
}

.dimensions-info h6 {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
    margin: 0 0 10px;
    color: #007aff;
    font-weight: 600;
}

.dimensions-info div {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
    font-size: 0.95em;
    color: #4a4a4a;
}

#scrollToTop {
    position: fixed;
    right: 20px; 
    bottom: 20px; 
    z-index: 1000; 
}

.blueSpinner{
    width: 50px;
    overflow: hidden;
}

.btnAndesmarMeli{
    margin-bottom: 5px !important;
}

.btnAndreaniMeli{
    margin-bottom: 0px !important;
}

.errorMeli{
    font-family: "Chakra Petch", sans-serif;
    text-transform: uppercase;
    color: green;
    margin-top: 5px;
    font-size: small;
    text-align: justify;
    border-radius: 10px;
    padding: 5px;
}

.trio-de-botones{
    display: flex;
    gap: 5px;
}

.editarDatos{
    margin-bottom: 5px !important;
}

.sugerencias {
    width: 91%;
    font-family: "Chakra Petch", sans-serif;
    font-size: .8rem;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    background: white;
    z-index: 1000;
}

.sugerencia {
    padding: 10px;
    cursor: pointer;
}

.sugerencia:hover {
    background-color: cornflowerblue;
    color: white;
}

.numeroDeEnvioGenerado {
    margin-bottom: 5px !important;
    text-align: center;
    color: #ffffff; 
    border: solid 1px #007aff; 
    font-weight: 700 !important;
    padding: 0.6rem 1rem;
    border-radius: 20px;
    background: linear-gradient(145deg, #007aff, #0051cb); /* Gradiente azul */
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.15);
    transition: background 0.3s ease;
}

.numeroDeEnvioGenerado a {
    color: inherit; 
    text-decoration: none; 
}

.numeroDeEnvioGenerado a:hover {
    text-decoration: underline; 
}

.numeroDeEnvioGeneradoBNA {
    font-family: "Roboto", sans-serif;
    margin-bottom: 5px !important;
    text-align: center;
    color: #2c3e50; 
    background-color: #ecf0f1; 
    border: 1px solid #bdc3c7; 
    font-weight: 900 !important;
    padding: 12px 16px; 
    border-radius: 12px; 
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s, box-shadow 0.3s; 
}

.numeroDeEnvioGeneradoBNA a {
    color: inherit; 
    text-decoration: none; 
    font-weight: bold; 
}

.numeroDeEnvioGeneradoBNA a:hover {
    text-decoration: underline;
    color: #2980b9; 
}

/* MODAL ANDESMAR */
/* Contenedor principal de la línea de tiempo */
.timeline-container {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    background-color: #f9f9f9;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    border: 1px solid #ebebeb;
}

/* Contenedor de información superior (detalles de la guía, estado, etc.) */
.info-container {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.215);
}

.info-container h5 {
    font-size: 1.2rem;
    font-weight: 600;
    color: cornflowerblue; /* Azul estilo iOS */
    margin-bottom: 5px;
    margin-top: 10px;
}

.info-container p {
    font-size: 0.95rem;
    color: #333;
    margin: 5px 0;
    line-height: 1.6;
}

/* Estilo de títulos secundarios */
.info-container h6 {
    font-size: 1rem;
    font-weight: bold;
    color: #555;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid cornflowerblue;
    padding-bottom: 5px;
}

/* Estilo para la línea de tiempo */
.timeline {
    position: relative;
    padding-left: 20px;
    list-style: none;
    margin: 20px 0;
    width: 100%;
}

/* Línea vertical */
.timeline::before {
    content: '';
    position: absolute;
    left: 20px;
    top: -20px;
    bottom: 0;
    width: 2px;
    background: cornflowerblue; /* Azul estilo iOS */
}

/* Elementos de la línea de tiempo */
.timeline-item {
    position: relative;
    display: flex;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}

.timeline-item:last-child {
    background-color: #fbf7bd;
    border: 2px dotted cornflowerblue; /* Azul estilo iOS */
    padding: 0.3rem;
    border-radius: 0 10px 10px 0;
}

/* Círculo numerado */
.timeline-circle {
    position: absolute;
    left: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange; /* Rojo estilo iOS */
    color: #fff;
    border-radius: 10%;
    width: 30px;
    height: 30px;
    font-size: 1rem;
    font-weight: bold;
    z-index: 1;
}

.timeline-circle.last{
    position: absolute;
    left: -30px;
    background-color:orangered;
    width: fit-content;
    padding-inline: 5px;
}


@media (max-width: 780px) {
    .timeline-content h6 {
        padding-left: 30px;
    }
    
    .timeline-content p {
        padding-left: 30px;
    }
}

/* Contenido de la línea de tiempo */
.timeline-content {
    margin-left: 60px;
    padding-left: 10px;
    width: calc(100% - 40px); /* Restar el espacio ocupado por el círculo */
    border-left: 2px solid transparent;
}

.timeline-content h6 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    color: #000;
}

.timeline-content p {
    font-size: 0.9rem;
    margin: 5px 0;
    color: #666;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .timeline-item {
        flex-direction: column;
        align-items: flex-start;
        width: 100%; /* Asegurarse de que mantenga el ancho completo en móviles */
    }

    .timeline-circle {
        margin-bottom: 10px;
    }

    .timeline-content {
        margin-left: 0;
        padding-left: 0;
        width: 100%;
    }
}

.historialAndesmar{
    text-transform: uppercase;
    font-family: "Chakra Petch", sans-serif;
    width: fit-content;
    background-color: orangered;
    padding: .3rem;
    border-radius: 10px;
    color: white;
}

.Andesmar-track{
    border: 2px dashed #6394ed;
    border-radius: 10px;
    padding: .3rem;
    overflow: hidden;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FIN MODAL ANDESMAR */

.import-container{
    margin-bottom: 1rem;
    padding: 1rem;
    border: cornflowerblue 2px dashed;
    border-radius: 15px;
}

.icon-gray {
    color: gray; 
}

/* BOTON MARCAR FACTURADO */
.btn-danger:hover .icono {
    content: none;
    display: inline-block;
    transition: all 0.3s ease;
}

.btn-danger:hover .icono::before {
    content: "\F5FF"; 
    font-family: "Bootstrap Icons";
}

/* FIN BOTON MARCAR FACTURADO */

/* SUGERENCIAS BNA */
.suggestions-container {
    font-size: small;
    max-height: 150px; 
    overflow-y: auto;  
    border: none; 
    border-radius: 5px; 
    background-color: white; 
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.list-group-item {
    cursor: pointer; 
}

.list-group-item:hover {
    background-color: cornflowerblue;
    color: white;
}

/* FIN SUGERENCIAS BNA */

.ios-card-text {
    font-size: 16px;
    color: #333;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    text-wrap: wrap !important;
    text-overflow: ellipsis !important;
}

.ios-icon {
    font-size: 20px;
    color: #007aff;
    margin-right: 10px;
}

.ios-icon2 {
    font-size: 20px;
    color: grey;
}

#direccion-bna .ios-icon.bi-house {
    content: "\f015";
}

#direccion-bna .ios-icon.bi-telephone {
    content: "\f879";
}

#direccion-bna .ios-icon.bi-envelope {
    content: "\f0e0";
}

.ios-card {
    transition: background-color 0.3s, box-shadow 0.3s;
}

.contenedorRemito {
    display: flex;
    align-items: center; /* Alinear verticalmente */
    justify-content: flex-start; /* Alinear horizontalmente al inicio */
}

.contenedorRemito {
    display: flex;
    align-items: center; /* Alinear verticalmente */
    justify-content: flex-start; /* Alinear horizontalmente al inicio */
}

/* SWITCH REDUCIDO */
.form-check {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-left: 10px;
}

.form-check-input {
    width: 40px; 
    height: 20px; 
    background-color: cornsilk;
    border: solid 1px rgba(128, 128, 128, 0.456);
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    transition: background-color 0.3s;
}

.form-check-input:checked {
    background-color: #4caf50; /* Color verde cuando está activo */
}

.form-check-input:checked::before {
    transform: translateX(18px); /* Ajustar la posición del círculo */
}

.form-check-input::before {
    content: '';
    position: absolute;
    width: 25px; 
    height: 25px; 
    background-color: white;
    border: solid 1px grey;
    border-radius: 50%;
    transition: transform 0.3s;
    top: -2px; 
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.form-check-label {
    margin-top: 25px; 
    margin-left: -12px; 
    font-size: 12px; 
    color: #333; 
    cursor: pointer;
}
/* FIN SWITCH REDUCIDO */

/* Estilo para el alert */
.alert {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a745; 
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: none; 
    z-index: 1000;
    transition: transform 0.3s ease, opacity 0.3s ease; 
    transform: translateY(20px); 
    opacity: 0; 
}

.alert.show {
    display: block; 
    transform: translateY(0); 
    opacity: 1; 
}

.alert .close {
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    transition: color 0.3s; 
}

.alert .close:hover {
    color: #ffcc00; 
}

/* Estilo para el alert Error */
.alertError {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: red; 
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: none; 
    z-index: 1000;
    transition: transform 0.3s ease, opacity 0.3s ease; 
    transform: translateY(20px); 
    opacity: 0; 
}

.alertError.show {
    display: block; 
    transform: translateY(0); 
    opacity: 1; 
}

.alertError .close {
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    transition: color 0.3s; 
}

.alertError .close:hover {
    color: #ffcc00; 
}

/* TABLA DE ENVIOS */

.table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
    text-align: center; 
    vertical-align: middle; 
    border-bottom: 1px solid #e1e1e1; 
}

.table th {
    background-color: #007aff; 
    color: white;
    font-weight: bold;
    font-size: 16px;
    white-space: nowrap; 
}

.table tbody tr {
    transition: background-color 0.3s, color 0.3s; /* Transición para el efecto hover */
}

.table tbody tr:nth-child(odd) {
    background-color: #f9f9f9; /* Color de fondo para filas impares */
}

.table tbody tr:nth-child(odd):hover {
    background-color: rgba(0, 122, 255, 0.2); /* Azul claro al pasar el ratón en filas impares */
    cursor: pointer;
}

.table tbody tr:nth-child(even) {
    background-color: #ffffff; 
}

.table tbody tr:nth-child(even):hover {
    background-color: rgba(255, 165, 0, 0.3); 
    cursor: pointer;
}

/* Estilo de las celdas */
.table td {
    color: #333; 
    font-size: 14px; 
}

.modal-content {
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    overflow: hidden;
}

.modal-header {
    border-bottom: none; 
    padding: 16px;
    background-color: #007aff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.modal-body {
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.form-control {
    border-radius: 10px;
    border: 1px solid #007aff; /* Color azul iOS */
    padding: 12px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.btn-outline-secondary {
    color: #007bff; /* Color de texto */
    border-color: #007bff; /* Color del borde */
}

.btn-outline-secondary:hover {
    border-color: orangered; /* Color del borde */
    background-color: white;
    color: orangered;
}

.btn-success {
    background-color: #28a745;
}

.btn-success:hover {
    background-color: #006215; /* Efecto hover */
}

#ingresoForm {
    margin: 0;
    background-color: #ffffff; /* Color de fondo blanco */
    border-radius: 12px; /* Bordes redondeados */
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.132); /* Sombra suave */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; /* Tipografía de iOS */
}

.ingreso-egreso{
    gap: 5px;
}

.table td, .table th{
    border-top: none !important;
}

/* Responsividad para dispositivos móviles */
@media (max-width: 768px) {
    .table th, .table td {
        padding: 8px; /* Espacio en celdas en móviles */
        font-size: 12px;
    }

    .modal-header {
        padding: 10px; /* Ajuste de espacio en el encabezado */
    }

    .modal-title {
        font-size: 14px; /* Ajuste de tamaño del título en móviles */
    }
}

/* FIN TABLA DE ENVIOS */

/* ESTILOS DE TABLAS */

.pendiente-despacho {
    color: red !important;
    font-weight: bold;
    background-color: rgba(255, 200, 47, 0.255);
}

.estado-despachado{
    color: green !important;
    font-weight: bold;
    background-color: rgba(172, 255, 47, 0.255);
}

.estado-entrega {
    color: green !important;
    font-weight: bold !important;
    background-color: rgba(172, 255, 47, 0.255);
}

.valor-columna {
    color: green !important;
    font-weight: bold; 
    text-align: right; 
}

.remito-columna{
    font-weight: bold; 
}

.tiempo-transcurrido {
    background-color: #f9f9f9;
    padding: 0.6rem 1.2rem;
    border-radius: 15px;
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
    font-size: 0.9em;
    font-weight: 800;
    color: #2c3e50;
    border: 1px solid #bdc3c7;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    animation: pulse 1.5s infinite;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.tiempo-transcurrido:hover {
    background-color: #eaeaea;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.icono-tiempo {
    margin-right: 5px;
}

#promedioBtn {
    background-color: #f9f9f9;
    color: #2c3e50; 
    border: 1px solid #bdc3c7; 
    border-radius: 15px; 
    padding: 0.4rem 0.8rem; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    white-space: nowrap; 
}

/* TRANSPORTE EN TABLAS */
.img-transporte{
    width: 120px;
}

.btn-ios {
    display: inline-block;
    border-radius: 5px; 
    overflow: hidden; 
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.btn-andreani {
    background: linear-gradient(135deg, #ff4d4d, #ff1a1a); 
    color: white; 
}

.btn-andesmar {
    background: linear-gradient(135deg, #007bff, #0056b3); 
    color: white; 
}

.btn-novogar {
    background: linear-gradient(135deg, #717171, #323232); 
    color: white; 
}

.btn-ios:hover {
    transform: translateY(-2px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

.img-transporte {
    width: 100px; 
    height: auto; 
    display: block; 
}

/* FIN TRANSPORTE EN TABLAS */

#porcentajes {
    border: dashed 2px cornflowerblue;
    background: #f9f9f9; 
    padding: 10px; 
    border-radius: 12px; 
}

.percentage-card {
    font-weight: 600; 
    padding: 10px 15px; 
    border-radius: 10px; 
    display: flex; 
    align-items: center; 
    transition: background-color 0.3s, transform 0.3s; 
    font-size: 0.95em; 
    margin: 5px 0; 
}

.percentage-card:hover {
    background-color: rgba(0, 0, 0, 0.08); 
    cursor: pointer;
    transform: translateY(-2px); 
}

#andreaniPorcentaje {
    color: #e74c3c; 
    font-weight: 700;
}

#andesmarPorcentaje {
    color: #3498db; 
    font-weight: 700; 
}

#porcentajes:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

.icon-state-ios{
    font-size: large;
}

#data-table th:nth-child(5),
#data-table td:nth-child(5) { 
    max-width: 130px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}