*{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Modica Oft';
    src: url('./fonts/modica.otf'),
}

*::selection {
    color: #fce96b;
    background-color: #0065C3;
  }

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(52,152,219);
    background: linear-gradient(183deg, rgba(52,152,219,1) 0%, rgba(0,70,139,1) 100%);
}

h1 {
    text-align: center;
    color: #333;
    display: none;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

@media (max-width: 600px) {
    form {
        border-top-left-radius: 0; 
        border-top-right-radius: 0; 
    }
}

.six{
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: .3rem;
    margin-bottom: .5rem;
}

.CpyLocalidad, .PisoyDepto{
    padding: .5rem;
    border: dashed 2px cornflowerblue;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-bottom: .3rem;
    gap: 10px;
}

.cp, .localidad{
    flex: 1;
}

.piso, .depto{
    width: 20%;
}

.email{
    width: 60%;
}

.Andrean{
    background-color: red;
    color: white;
    font-size: 1rem;
    padding: .3rem;
    border-radius: 5px;
    width: fit-content;
}

#localidad{
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
    border: 1px solid red;
    font-weight: 800;
    height: 38px
}

#codigoPostalDestinatario{
    height: 38px
}

/* Estilos Camiones */
.trucks {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.truck {
    text-align: center;
}
.truck img {
    width: 100%; 
    height: auto;
    border: 2px dashed #ccc; 
    border-radius: 8px;
}
.label {
    margin-top: 5px;
    padding: 5px; 
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2rem;
}

.truck img.envio-verde {
    background-color: #32d554;
    border: 2px dashed green;
    box-shadow: 0 0px 5px #515151a5; 
}


.truck img.desactivado {
    filter: grayscale(100%) brightness(70%);
}

@keyframes titilar {
    0% { background-color: rgb(129, 0, 0); }
    50% { background-color: orangered; } 
    100% { background-color: rgb(129, 0, 0); } 
}

.truck .label.titilando {
    color: white;
    animation: titilar 1s infinite;
    border: none;
    box-shadow: 0 0px 5px #515151a5; 
}

/* Fin Estilos Camiones */

.lista-localidades {
    width: 47.5%;
    border: 1px solid grey;
    font-size: small;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1000;
    border-radius: 0 0 10px 10px;
}
.lista-localidades div {
    padding: 5px;
    cursor: pointer;
}
.lista-localidades div:hover {
    background-color: red;
    color: white;
}

.spinner2 {
    display: none;
    border: 4px solid rgba(247, 171, 171, 0.881);
    border-top: 4px solid #440000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    position: absolute;
    right: 16px;
    top: 30%;
    transform: translateY(-50%);
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.clear-button {
    background-color: white;
    padding: .2rem;
    border-radius: 10px;
    display: none;
    cursor: pointer;
    position: absolute;
    right: 16px; /* Posición de la "X" dentro del input */
    top: 50%;
    transform: translateY(-50%);
    color: #440000;
    font-size: 18px;
}
input {
    padding-right: 30px; /* Espacio para la "X" */
}

.doble{
    text-align: justify;
    display: flex;
    gap: .5rem;
    color: white;
    padding: .3rem;
}

.doble input{
    margin: 0;
    margin-bottom: .3rem;
}

.doble label{
    margin: 0;
}

#Andesmar-img {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-shrink: 1;
    margin-bottom: 20px;
    margin-top: 25px;
}

#Andesmar{
    max-width: 400px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

button {
    background-color: cornflowerblue;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(11, 72, 185);
}

.spinner-container {
    display: none; /* Cambiar a 'flex' cuando se muestre el spinner */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff50; /* Fondo semi-transparente */
    backdrop-filter: blur(8px); /* Efecto de desenfoque */
    z-index: 9999;
    justify-content: center; /* Centrar el contenido horizontalmente */
    align-items: center; /* Centrar el contenido verticalmente */
}

.spinner {
    border: 8px solid cornflowerblue;
    border-radius: 50%;
    border-top: 8px solid #ffffff;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#calleRemitente, #calleNroRemitente, #codigoPostalRemitente, #m3, #esRemitoConformado, #esFletePagoDestino{
    display: none;
}

#codigoPostalRemitente{
    display: block;
}

.origenEnvio{
    background-color: cornflowerblue;
    padding: .5rem;
    border-radius: 10px;
    margin-bottom: 5px;
}

.contenedorRespuesta{
    margin-top: 1rem;
    background-color: #e1f4e5;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.contenedorRespuesta img{
    width: 200px;
}

.contenedorRespuesta h2{
    font-family: "Signika Negative", sans-serif;
    color: #32d554;
    margin-top: 0;
    padding-top: 1rem;
    font-size: 2rem;
}

.botonDescarga{
    font-family: "Signika Negative", sans-serif;
    font-weight: 800;
    margin-bottom: 1rem;
    font-size: 2rem;
    background-color: #32d554;
    color: white;
    border-radius: 15px;
    padding: 1rem;
}

.contenedorError{
    margin-top: 1rem;
    background-color: #52c6b8;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.contenedorError p{
    font-family: "Signika Negative", sans-serif;
    color: white;
    margin: 0;
}

.contenedorError img{
    width: 200px;
}

.mensajeErrorUndefinedContainer{
    margin-top: 1rem;
    background-color: red;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.mensajeErrorUndefinedContainer p{
    color: white;
    font-size: 2rem;
    font-weight: 600px;
}

#ultimasEtiquetas{
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
    border-radius: 0 0 10px 10px;
}

.ultimasEtiquetasTitulo{
    font-family: "Signika Negative", sans-serif;
    background-color: #333;
    padding: .5rem;
    margin: 0;
    margin-top: .5rem;
    color: white;
}

.reDescarga{
    font-family: "Signika Negative", sans-serif;
    border-radius: 20px;
    font-weight: 400px;
    gap: .2rem;
    display: flex;
    background-color: #333;
    margin: .3rem;
    margin-top: 0;
    text-align: center;
    justify-content: baseline;
    text-align: center;
}

.reDescarga img {
    width: 20px;
    filter: invert(100%);
}

#ultimasEtiquetas button:last-child {
    color: white;
    font-weight: 800;
}

#ultimasEtiquetas button:last-child {
    text-align: center;
    align-items: center;
    filter: invert(0%);
    border: 2px dashed rgb(255, 255, 255);
    background-color: black;
    border-radius: 20px;
}

#ultimasEtiquetas button:last-child::before {
    text-align: center;
    content: "última";
    position: relative;
    top: 0;
    left: -2px;
    background-color: red;
    color: white;
    padding: 4px 8px;
    border-radius: 10px;
    font-size: 12px;
    z-index: 1000;
}

#respuesta2{
    display: none;
    background-color: cornflowerblue;
    padding: .5rem;
    border-radius: 12px;
    color: white;
    font-weight: 600;
    margin-top: 0;
}

#respuestaNegativa{
    display: none;
    background-color: red;
    padding: .5rem;
    border-radius: 12px;
    color: white;
    font-weight: 600;
    margin-top: 0;
}

.nuevo{
    color: white;
}

.removeBultoButton{
    background-color: red;
}

.removeBultoButton:hover{
    background-color: rgb(43, 43, 43);
}

#bultos{
    background-color: #bebebe;
}

.bulto {
    border: 2px dashed red;
    padding: 10px;
    margin: 10px 0;
    background-color: rgb(246, 190, 190);
    border-radius: 10px;
}

.bultoImput, .bultoDescripccion{
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}

.bultoTitle{
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: red;
    color: white;
    width: max-content;
    padding: .4rem;
    border-radius: 10px;
    margin-top: 0;
}

#mensajePersonalizado{
    display: none;
}

#observaciones{
    text-transform: lowercase;
    height: 6rem;
    border: dashed 2px red;
    background-color: rgb(253, 242, 240);
    border-radius: 10px;
}

#tipoElectrodomestico{
    color: red;
    border: 1px solid red;
    font-weight: 800;
}

.mostrarMasButton {
    border-radius: 20px;
    color: white;
    background-color: red;
    margin-left: .3rem;
    padding: 10px;
    margin-bottom: .3rem;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3); /* Ajusta los valores según tus preferencias */
}

/* NAVBAR */

.navbar {
    background-color: #ffffff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 10px #00569892;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
}

.navbar-logo {
    max-height: 50px;
    width: auto;
    margin-right: 10px;
}

.brand-name {
    text-transform: uppercase;
    font-family: 'Modica Oft';
    font-size: 2rem;
    color: grey;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav-item {
    margin: 0 15px;
}

.nav-item a {
    color: #004080;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: block;
}

.nav-item a:hover {
    background-color: #e6f0ff;
    color: #003366;
}

.nav-item .active {
    background-color: #1a75ff;
    color: #ffffff;
}

/* Menu Hamburguesa */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: #004080;
    margin: 4px 0;
    transition: 0.3s;
}

@media (max-width: 940px) {
    .nav-links {
        flex-direction: column;
        width: 100%;
        background-color: #ffffff;
        border-radius: 0px;
        position: absolute;
        top: 70px;
        left: -100%;
        transition: left 0.3s ease-in-out;
    }

    .nav-item a {
        border-radius: 0;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-item {
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .menu-toggle {
        display: flex;
    }

    .is-active .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .is-active .bar:nth-child(2) {
        opacity: 0;
    }

    .is-active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}

/* FIN NAVBAR */

#deptoDestinatario , #pisolDestinatario, #codigoPostalDestinatario, #emailDestinatario, #localidad{
    margin-bottom: 0;
}

.PisoyDepto{
    border: dashed 2px red;
}

.hidden {
    display: none;
}

/* VOLUMENES */
.volumen-container {
    border: 2px dashed #28a745;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: #e9f7ef;
    transition: transform 0.2s;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.volumen-container:hover {
    transform: scale(1.08);
    cursor: pointer;
}
.volumen-container > img {
    width: 60px;
}
.volumen-label {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#volumenTotalcm, #volumenTotal{
    color: #004701;
    font-size: 1.7rem;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.cubic{
    font-family: "Chakra Petch", sans-serif;
    font-size: 1.3rem;
}

.provincia{
    display: block;
}

/* FIN VOLUMENES */

/* FOOTER */

.logo-novogar{
    width: 100px;
    padding: .5rem;
}

footer{
    padding: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;    
}

footer > a{
    text-decoration: none;
    color: grey;
    transition: .5s;
}

footer > a:hover{
    text-decoration: underline;
    font-weight: 900;
    color: red;
}

.logo-foot{
    width: 120px;
}

.www{
    font-family: 'Modica Oft';
    font-size: larger;
}

/* FIN FOOTER */

/* BOTON DESCARGA */

#descargaAndreani{
    background-color: #fee2e2;
    padding: .5rem;
    border-radius: 15px;
    border: 2px dashed red;
    transition: transform 0.2s;
}

#descargaAndreani:hover {
    transform: scale(1.03);
    cursor: pointer;
}
#descargaAndesmar{
    background-color: rgb(228, 237, 255);
    padding: .5rem;
    border-radius: 15px;
    border: 2px dashed cornflowerblue;
    transition: transform 0.2s;
}

#descargaAndesmar:hover {
    transform: scale(1.03);
    cursor: pointer;
}

#titleAndreani{
    background-color: white;
    border: 2px dashed #fc522c;
    border-radius: 10px;
}

#titleAndesmar{
    background-color: white;
    border: 2px dashed #5a6892;
    border-radius: 10px;
    Color: cornflowerblue;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: .2rem;
    font-weight: 600;
}

#titleAndreani > span{
    color: red;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: .2rem;
    font-weight: 600;
}

#titleAndreaniName, #nombreAndreani, #titleAndesmarName{
    font-size: 1.2rem;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn-danger >i, .btn-primary >i{
    font-size: 1.2rem;
}

.surprise{
    width: 35px;
}

.btn-warning{
    margin: 0!important;
}

@media (max-width: 490px) {
    .btn-warning {
        margin-bottom: 10px !important;
    }
}

/* FIN BOTON DESCARGA */

/* COTIZADOR */

.grid-container {
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 20px;
    background-color: #f7f9fc; /* Fondo más claro */
}

.cotizacion-container {
    border: 2px dashed green;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    background: #ffffff; /* Fondo blanco */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; /* Para la animación */
    overflow: hidden; /* Para ocultar el efecto de animación */
}

.valor-cotizacion {
    color: green; /* Color original */
    font-size: 1.5rem; /* Tamaño más pequeño para el valor */
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    transition: font-size 0.3s ease; /* Suaviza el cambio de tamaño de fuente */
}

.cotizacion-container:hover .valor-cotizacion {
    color: yellow; /* Cambia a dorado al hacer hover en el contenedor */
    font-size: 2rem; /* Tamaño más grande para el valor */
}

.cotizacion-container:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra más intensa al pasar el ratón */
    cursor: pointer;
    background: linear-gradient(135deg, #4caf50, #81c784); /* Degradado de verdes */
}

.cotizacion-label {
    font-weight: 600;
    font-size: 1.2rem; /* Tamaño de fuente más pequeño */
    margin-top: 5px;
    color: #333; /* Color oscuro */
}

.signo-peso {
    position: relative; /* Para centrar la imagen */
    animation: float 3s ease-in-out infinite; /* Animación de flotación */
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

span > img {
    width: 50px; /* Tamaño de la imagen */
}

.titulo-cotizacion {
    grid-column: span 2; 
    background-color: #28a745; 
    color: white; 
    border-radius: 5px; 
    width: fit-content; 
    padding: 0.5rem; 
    margin: 0 auto; 
    text-align: center; 
    font-size: 1rem; 
    font-weight: bold; 
}

/* FIN COTIZADOR */